#movieSearch {
  color: #f2ac16;
  font-size: 6vw;
  font-family: Impact, Charcoal, sans-serif;
}

#resultsBox {
  height: 30vw;
  margin: 0em;
  overflow-y: auto;
}

#search-button {
  background-color: #f2ac16;
  width: 20vw;
  margin-top: 1vw;
}

.infoTitles {
  color: #f2ac16;
}
#test {
  height: 8vw;
  background-color: white;
  border: solid #f2ac16 0.5vw;
}

.movie {
  color: white;
  margin-top: 0px;
}

#image {
  width: 8vw;
  height: 8vw;
  display: flex;
  flex-wrap: wrap;
}

.movieListForm {
  background-color: #14120b;
  color: #f2ac16;
}

body,
.labelClass {
  background-color: #14120b;
}

#movieTitle {
  word-break: normal;
}

.ui-autocomplete {
  height: 20vw;
  width: 10vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

h3 {
  color: #f2ac16;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
