#movieSearch,
#loginTitle {
  color: #f2ac16;
  font-size: 6vw;
  font-family: Impact, Charcoal, sans-serif;
}

#resultsBox {
  height: 30vw;
  margin: 0em;
  overflow-y: auto;
}

.infoTitles {
  color: #f2ac16;
}
.test {
  height: 8vw;
  background-color: white;
  border: solid #f2ac16 0.5vw;
}

.movie {
  color: white;
  margin-top: 0px;
}

#image {
  width: 8vw;
  height: 8vw;
  display: flex;
  flex-wrap: wrap;
}

.movieListForm {
  background-color: #14120b;
  color: #f2ac16;
}

body,
.labelClass {
  background-color: #14120b;
}

#movieTitle {
  word-break: normal;
}

.ui-autocomplete {
  height: 20vw;
  width: 10vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

h2 {
  color: #f2ac16;
  font-size: 4vw;
}
h3 {
  color: #f2ac16;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.btn-primary,
.btn-primary:hover .btn-primary:active {
  background-color: #f2ac16 !important;
  color: #14120b !important;
  font-weight: bold !important;
}

p {
  color: white;
}

#myMovieLink {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#myListContainer,
#myStatsContainer {
  border: 5px outset #f2ac16;
  border-radius: 23px;
}

#registerDiv,
#loginDiv {
  border: 5px outset #f2ac16;
  border-radius: 23px;
  padding: 1vw;
  margin: 1vw;
  background-color: #242629;
}

.myMovie {
  cursor: pointer;
}

.star-rating {
  color: #f2ac16;
}

.star-rating.star1:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f2ac16;
  content: "\f005";
  padding-left: 10px;
}

.star-rating.star2:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f2ac16;
  content: "\f005\f005";
  padding-left: 10px;
}

.star-rating.star3:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f2ac16;
  content: "\f005\f005\f005";
  padding-left: 10px;
}
.star-rating.star4:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f2ac16;
  content: "\f005\f005\f005\f005";
  padding-left: 10px;
}
.star-rating.star5:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f2ac16;
  content: "\f005\f005\f005\f005\f005";
  padding-left: 10px;
}
.star-rating.star6:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f2ac16;
  content: "\f005\f005\f005\f005\f005\f005";
  padding-left: 10px;
}
.star-rating.star7:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f2ac16;
  content: "\f005\f005\f005\f005\f005\f005\f005";
  padding-left: 10px;
}
.star-rating.star8:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f2ac16;
  content: "\f005\f005\f005\f005\f005\f005\f005\f005";
  padding-left: 10px;
}
.star-rating.star9:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f2ac16;
  content: "\f005\f005\f005\f005\f005\f005\f005\f005\f005";
  padding-left: 10px;
}
.star-rating.star10:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f2ac16;
  content: "\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005";
  padding-left: 10px;
}

.statsButton {
  width: 25vw;
  margin: 1vw;
}
